@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: black;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd,
iframe.skiptranslate {
  display: none !important;
  visibility: hidden !important;
}

/* Remove top padding added by Google Translate */
body {
  top: 0px !important;
  position: relative !important;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-track {
  background-color: rgba(72, 72, 72, 0.5);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(62, 62, 62);
}